lockfile
pip-autoremove
pip-chill
pip-review
poetry
pync
wheel
# cachecontrol # Installed as dependency for poetry
# cachy # Installed as dependency for poetry
# certifi # Installed as dependency for requests
# charset-normalizer # Installed as dependency for requests
# cleo # Installed as dependency for poetry
# clikit # Installed as dependency for cleo, poetry
# crashtest # Installed as dependency for clikit, poetry
# distlib # Installed as dependency for virtualenv
# filelock # Installed as dependency for virtualenv
# html5lib # Installed as dependency for poetry
# idna # Installed as dependency for requests
# importlib-metadata # Installed as dependency for keyring
# keyring # Installed as dependency for poetry
# msgpack # Installed as dependency for cachecontrol
# packaging # Installed as dependency for pip-review, poetry
# pastel # Installed as dependency for clikit
# pexpect # Installed as dependency for poetry
# pip # Installed as dependency for pip-review, pip-autoremove
# pkginfo # Installed as dependency for poetry
# platformdirs # Installed as dependency for virtualenv
# poetry-core # Installed as dependency for poetry
# ptyprocess # Installed as dependency for pexpect
# pylev # Installed as dependency for clikit
# pyparsing # Installed as dependency for packaging
# python-dateutil # Installed as dependency for pync
# requests # Installed as dependency for requests-toolbelt, poetry, cachecontrol
# requests-toolbelt # Installed as dependency for poetry
# setuptools # Installed as dependency for pip-autoremove
# shellingham # Installed as dependency for poetry
# six # Installed as dependency for python-dateutil, html5lib, virtualenv
# tomlkit # Installed as dependency for poetry
# urllib3 # Installed as dependency for requests
# virtualenv # Installed as dependency for poetry
# webencodings # Installed as dependency for html5lib
# zipp # Installed as dependency for importlib-metadata
