appnope
backcall
colorama
cryptography
docutils
exceptiongroup
firebase-admin
geopandas
google-auth-oauthlib
grpcio-status
humanfriendly
keyboard
oauth2client
pickleshare
pip-chill
pip-review
pipreqs
psycopg2-binary
pyshorteners
retrying
setuptools
slugify
unidecode
wheel
